
/*Title*/
#title{
    background: rgb(2,20,82);
    background: linear-gradient(40deg, rgba(2,20,82,1) 0%, rgba(19,137,158,1) 46%, rgba(7,137,251,1) 100%);
    color:white;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size:2rem;
    font-weight:800;
    padding-left:20px;
}

.navbar{
    font-size:1.5rem;
    color:white;
    padding-bottom:6rem;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:50px;
}

.container-fluid{
    padding: 5% 5%;
}

.title-button{
    margin:5% 3% 5% 0;
}

h1{
    font-size:4rem;
    font-family:"Ubuntu", sans-serif;
}

#title-img{
    width:70%;
    transform:rotate(20deg);
    position:absolute;
    right:25%;
    top:5%;
}

@media (max-width:1028px){
    #title-img{
        position:static;
        transform:rotate(0deg);
    }
    #title{
        text-align:center;
    }
}


/*Features*/

#features{
    background-color: rgb(12, 12, 12);
    color:white;
    position:relative;
    z-index:1;
    padding:4em 1em;
}

.feature{
    text-align:center;
    line-height:2rem;
}

.feature-icon{
    margin-bottom:1.5rem;
}




/*Destinations*/

.read-more{
    text-decoration: underline;
}

.destinations-cards{
    padding:2em 8em;
}


#destinations{
    background: rgb(2,20,82);
    background: linear-gradient(40deg, rgba(2,20,82,1) 0%, rgba(19,137,158,1) 46%, rgba(7,137,251,1) 100%);
}


/*Contact*/

#contact{
    background-color: black;
    color:white;
    padding:5rem 1rem;
    font-family:"Ubuntu", sans-serif;
}


.text-contact{
    text-align: center;
    padding-top:1rem;
    padding-bottom:2rem;
}


/*Footer*/

#footer{
    background: rgb(2,20,82);
    background: linear-gradient(40deg, rgba(2,20,82,1) 0%, rgba(19,137,158,1) 46%, rgba(7,137,251,1) 100%);
    text-align:center;
    padding:8% 20%;
}

.icon-bottom{
    margin-left:1rem;
    margin-bottom:1rem;
}


